#theTable, th, td {
  border: 5px solid black;
  font-size: 34px;
  padding: .2rem;
  background-image: radial-gradient(rgb(255, 0, 242), rgb(0, 38, 103));
  -moz-box-shadow: 5px 5px 5px 5px rgba(0, 2, 67, 0.892);
  -webkit-box-shadow: 5px 5px 5x 5px rgba(0, 2, 67, 0.892);
  box-shadow: 5px 5px 100px 20px rgba(0, 2, 67, 0.892), inset 0px 10px 20px 10px rgb(0, 38, 103);
  animation: shadow-pulse0 5s infinite;
} 


@keyframes shadow-pulse0
  {
    50% {
      box-shadow: 0px 0px 50px 5px rgb(255, 0, 242), inset 0px 15px 25px 15px rgb(0, 38, 103);
    }
  }


@keyframes shadow-pulse
  {
    75% {
      box-shadow: 0 0px 20px 0px rgba(1, 60, 255, 0.5), inset 0px 10px 50px 20px rgba(247, 0, 255, 0.5);
    }
  }

@keyframes shadow-pulse2
{
  75% {
    box-shadow: 0 0px 20px 0px rgba(206, 12, 255, 0.5), inset 0px 10px 50px 20px rrgba(184, 247, 255, 0.5);
  }
}

@keyframes shadow-pulse3
{
  75% {
    box-shadow: 0 0px 20px 0px rgba(224, 152, 255, 0.5), inset 0px 10px 50px 20px rgba(0, 136, 255, 0.5);
  }
}

@keyframes shadow-pulse4
{
  75% {
    box-shadow: 0 0px 20px 0px rgba(255, 204, 35, 0.5), inset 0px 10px 50px 20px rgba(255, 40, 105, 0.5);
  }
}

@keyframes shadow-pulse5
{
  75% {
    box-shadow: 0 0px 20px 0px rgba(255, 252, 222, 0.5), inset 0px 10px 50px 20px rgba(211, 5, 119, 0.5);
  }
}

@keyframes shadow-pulse6
  {
    75% {
      box-shadow: 0 10px 100px 30px rgba(255, 4, 221, 0.5), inset 0px 10px 50px 20px rgba(255, 247, 0, 0.5);
    }
  }



#act1 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(254, 149, 249), rgb(25, 99, 225));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse1 12s infinite;
}

#act2 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(90, 65, 235), rgb(212, 0, 255));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse2 12s infinite;
}

#act3 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(247, 7, 207), rgb(119, 217, 255));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse3 12s infinite;
}

#act4 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(76, 244, 61), rgb(2, 174, 254));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse4 12s infinite;
}

#act5 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(255, 51, 204), rgb(255, 225, 53));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse5 12s infinite;
}


#unityAlabel {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(44, 62, 255));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse2 4s infinite;
}

#unityA1o5a_col1 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(210, 208, 235), rgb(204, 186, 146));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse2 10s infinite;
}

#unityA2o5a_col2 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(225, 196, 147), rgb(231, 224, 209));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse2 10s infinite;
}

#unityA3o5a_col3 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(233, 214, 182), rgb(232, 206, 151));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse2 10s infinite;
}

#unityA4o5a_col4 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(221, 184, 128), rgb(247, 243, 234));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse2 10s infinite;
}

#unityA5o5a_col5e {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(253, 230, 189), rgb(248, 237, 212));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse2 10s infinite;
}


#unityBlabel {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(45, 164, 244), rgb(176, 136, 190));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse1 4s infinite;
}

#unityB1o3a_col1 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(250, 173, 39), rgb(255, 249, 235));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 136, 255, 0.995);
  animation: shadow-pulse3 7s infinite;
}

#unityB2o3a_col2 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(250, 173, 39), rgb(255, 249, 235));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 136, 255, 0.995);
  animation: shadow-pulse3 7s infinite;
}

#unityB3o3a_col3c {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(250, 173, 39), rgb(255, 249, 235));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 136, 255, 0.995);
  animation: shadow-pulse3 7s infinite;
}

#unityB1o2b_col4 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(40, 218, 249), rgb(255, 255, 255));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(255, 68, 0, 0.687);
  animation: shadow-pulse1 9s infinite;
}

#unityB2o2b_col5e {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(40, 218, 249), rgb(255, 255, 255));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(255, 68, 0, 0.687);
  animation: shadow-pulse1 9s infinite;
}


#unityClabel {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(255, 144, 249), rgb(129, 232, 255));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse2 4s infinite;
}

#unityC1o2a_col1 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(177, 158, 127), rgb(243, 60, 60));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(68, 0, 255, 0.995);
  animation: shadow-pulse5 8s infinite;
}

#unityC2o2a_col2b {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(177, 158, 127), rgb(243, 60, 60));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(68, 0, 255, 0.995);
  animation: shadow-pulse5 8s infinite;
}

#unityC1o3b_col3 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right,rgb(160, 179, 255), rgb(255, 228, 166));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(191, 0, 255, 0.995);
  animation: shadow-pulse2 9s infinite;
}

#unityC2o3b_col4 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right,rgb(160, 179, 255), rgb(255, 228, 166));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(191, 0, 255, 0.995);
  animation: shadow-pulse2 9s infinite;
}

#unityC3o3b_col5e {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(160, 179, 255), rgb(255, 228, 166));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(191, 0, 255, 0.995);
  animation: shadow-pulse2 9s infinite;
}


#unityDlabel {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(10, 47, 255), rgb(203, 124, 255));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse1 4s infinite;
}

#unityD1o1a_col1a {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(253, 229, 188), rgb(250, 207, 115));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(255, 0, 153, 0.995);
  animation: shadow-pulse2 7s infinite;
}

#unityD1o2b_col2 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right,rgb(241, 237, 229), rgb(206, 242, 176));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(123, 255, 0, 0.995);
  animation: shadow-pulse5 10s infinite;
}

#unityD2o2b_col3c {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(241, 237, 229), rgb(206, 242, 176));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(123, 255, 0, 0.995);
  animation: shadow-pulse5 10s infinite;
}

#unityD1o1c_col4d {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(195, 219, 228), rgb(2, 255, 129));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 26, 255, 0.995);
  animation: shadow-pulse3 8s infinite;
}

#unityD1o1d_col5e {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(219, 110, 255), rgb(255, 174, 0));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(76, 0, 255, 0.995);
  animation: shadow-pulse5 6s infinite;
}


#unityElabel {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(130, 111, 255), rgb(187, 136, 190));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse3 4s infinite;
}

#unityE1o1a_col1a {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(250, 114, 189));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(255, 0, 119, 0.995);
  animation: shadow-pulse1 6s infinite;
}

#unityE1o1b_col2b {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(255, 187, 70), rgb(247, 244, 238));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 157, 0.995);
  animation: shadow-pulse1 10s infinite;
}

#unityE1o2c_col3 {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right,rgb(215, 213, 210), rgb(238, 95, 5));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(255, 149, 0, 0.995);
  animation: shadow-pulse5 7s infinite;
}

#unityE2o2c_col4d {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(215, 213, 210), rgb(238, 95, 5));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(255, 149, 0, 0.995);
  animation: shadow-pulse5 7s infinite;
}

#unityE1o1d_col5e {
  text-align: center;
  background-color: #E4D8C3;
  background-image: linear-gradient(to bottom right, rgb(255, 235, 199), rgb(255, 190, 50));
  -moz-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 10px 0px rgba(0, 255, 255, 0.995);
  animation: shadow-pulse2 10s infinite;
}

#theSlice {
  
}

#setStakes {

}

#stakes1 {
  
}

#stakes2 {
  
}

#stakes3 {
  
}

#stakes4 {
  
}

#stakes5 {
  
}

#stakesSubmit {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 0, 242));
  -moz-box-shadow: 0px 5px 20px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 20px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 20px 0px rgba(0, 58, 250, 0.995);
  animation: shadow-pulse6 3s infinite;
  
}

#theSetup {
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 0, 242));
  -moz-box-shadow: 0px 5px 20px 0px rgba(26, 101, 158, 0.3);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(26, 101, 158, 0.3);
  box-shadow: 0px 5px 20px 0px rgba(26, 101, 158, 0.3), inset 0px 0px 20px 0px rgba(0, 58, 250, 0.995);
  animation: shadow-pulse6 3s infinite;

}

#theBottom {
  
}
